* {
	box-sizing: border-box;
}
body {
	font-family: Arial, sans-serif;
	background-color: #f0f2f5;
	min-height: 100vh;
	margin: 0;
}

.dashboard {
	width: 80%;
	max-width: 1200px;
}

.header {
	text-align: center;
	margin-bottom: 20px;
}

#userLevel {
	color: #2196f3;
	font-weight: bold;
	font-size: 2rem;
	margin: 0;
}
/* Barre de niveau et expérience */
.user-level {
	display: flex;
	align-items: center;
	gap: 10px;
	font-weight: bold;
	margin-top: 20px;
}

#userXP {
	color: rgba(0, 0, 0, 0.5);
	font-size: 0.8rem;
}
.progress-bar {
	width: 100px;
	background-color: #e0e0e0;
	border-radius: 10px;
	overflow: hidden;
}

.project-form {
	display: grid;
	gap: 10px;
	margin-bottom: 20px;
}

.project-form input,
.project-form button {
	padding: 10px;
	font-size: 14px;
}

.projects-list {
	margin-top: 20px;
}

.project-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
}

.project-card {
	padding: 15px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.badge {
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	font-size: 12px;
	color: white;
	margin-right: 5px;
}

.bg-HTML {
	background-color: #f44336;
}
.bg-CSS {
	background-color: #2196f3;
}
.bg-Javascript {
	background-color: #ffeb3b;
	color: #333;
}
.bg-React {
	background-color: #00bcd4;
}
.bg-Node {
	background-color: #4caf50;
}
.bg-Python {
	background-color: #673ab7;
}
.bg-default {
	background-color: #9e9e9e;
}

button {
	margin-top: 10px;
}

.container {
	display: grid;
	grid-template-areas:
		"level level days"
		"projects projects projects"
		"table table table";
	gap: 20px;
	padding: 20px;
}

/* Grid items */
.grid-item {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Heading */
h2 {
	margin-bottom: 15px;
	color: #333;
}

/* XP bar */
.xp-bar {
	width: 100%;
	background-color: #ddd; /* Fond gris */
	height: 10px; /* Hauteur de la barre */
	border-radius: 10px;
	margin-top: 10px;
	position: relative;
}

.xp-bar div {
	height: 100%;
	background-color: #2196f3;
	width: 50%;
}

/* Table styles */
#levelSection {
	grid-area: level;
}
#currentProjectSection {
	grid-area: days;
}
#projectsTableSection {
	overflow-x: auto;
	margin-bottom: 20px;
	grid-area: table;
}
#projectsListSection {
	grid-area: projects;
}
#projectsTable {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

#projectsTable th,
#projectsTable td {
	padding: 8px;
	border: 1px solid #ddd;
	text-align: center;
}

#projectsTable td {
	word-wrap: break-word;
	overflow: hidden;
}
#projectsTable th {
	word-wrap: break-word;
	background-color: #f2f2f2;
}

/* Button styles */
.btn {
	background-color: #4caf50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn:hover {
	background-color: #45a049;
}

/* Modale styles */
.modal {
	display: none; /* Hidden by default */
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 60px;
}

.modal-content {
	background-color: #fefefe;
	margin: 5% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 500px;
	border-radius: 10px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* Form styles */
form input {
	width: 100%;
	padding: 8px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
}

form button {
	width: 100%;
	padding: 10px;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

form button:hover {
	background-color: #45a049;
}

.edit-btn {
	background-color: rgb(48, 111, 198);
}

.edit-btn:hover {
	background-color: rgb(31, 72, 130);
}

.delete-btn {
	background-color: red;
}

.delete-btn:hover {
	background-color: rgb(133, 3, 3);
}

@media screen and (max-width: 680px) {
	.container {
		grid-template-areas:
			"level level level"
			"days days days"
			"projects projects projects"
			"table table table";
	}
}
